
<div class="stars stars__small"></div>
<div class="stars stars__medium"></div>
<div class="stars stars__large"></div>

<div class="spaceship" (click)="animate()">
    <img class="ship" src="../../assets/imgs/icons8-maquis-raider-48.png" alt="#">
    <div class="fire fire__main"></div>
    <div class="fire fire__left"></div>
    <div class="fire fire__right"></div>
</div>
<svg id="pathbox">
    <path id="path" d="M 0 -25 C -4 -274 -541 -740 0 -740 C 685 -750 1 394 0 -25" />
</svg>

<div class='content-container'>
    <main [@routeAnimations]="prepareRoute()" class="content">
        <router-outlet></router-outlet>
    </main>
</div>
