@import '../../sass/styles.scss';

.content {
    height: 85vh;
    position: relative;
}

#pathbox {
  position: absolute;
  top: 47.5%;  
  left: 50%; 
  width: 100%;
  height: 85%;
  transform: translate(-50%, -50%)

}
#path {
  fill: none;
}

.spaceship {
    position: absolute;
    display: inline-block;
    top: 85%;  
    left: 50%; 
    cursor: pointer;
    z-index: 10000;

    transform: translate(-50%, -50%) rotate(0);
}

.ship {
  display: inline-block;
  cursor: pointer;
}

.fire {
  position: absolute;
  margin: 0 auto;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background: #03eded;
  animation: fire 0.2s infinite;

  &__main {
    top: 48px;
    left: 21px;
    width: 5px;
    height: 6px;
  }

  &__left {
    top: 41px;
    left: 13px;
    width: 2px;
    height: 3px;
  }

  &__right {
    top: 41px;
    left: 32px;
    width: 2px;
    height: 3px;
  }
    
}

  

@keyframes fire {
  0% {
    background: linear-gradient(to bottom, rgb(28, 255, 187) 0%, rgb(1, 239, 223) 50%, rgb(3, 116, 237) 100%);
  }
  50% {
    background: linear-gradient(to bottom, rgb(3, 120, 237) 0%, rgb(28, 255, 176) 51%, rgb(1, 203, 239) 100%);
  }
  100% {
    background: linear-gradient(to bottom, rgb(1, 211, 239) 0%, rgb(3, 101, 237) 51%,rgb(28, 255, 225) 100%);
  }
}