
<div class="about-container">
    <div class="about">
        <figure class="about__shape">
            <img src="../../assets/imgs/profile_pic.jpg" alt="Profile Picture" class="about__img">
            <figcaption class="about__caption">David Rose-Franklin</figcaption>
        </figure>
        <div class="about__text">
            <h3 class="about__header">
                <span>
                    Coding with the Stars!
                </span>
            </h3>
            <p class="about__body">
                <span>
                I am a Junior UI Software Developer who specializes in the Angular Framework, manipulating 
                HTML, SCSS, and TypeScript to create user freindly and industry standard applications.
                Since graduating with a bachelors degree in computer science in 2021,
                I have used my skills plan, design, build, launch, and maintain websites in a professional enviroment. 
                In my time as a developer, I have learned the core concepts that allow me to
                cater to the users of my interfaces and follow accessability guidelines that allows me to create
                a seemless user experience.
                </span>
            </p>
        </div>
    </div>
</div>