<div class="resume-grid">
    <div class="resume-grid__skills">
        <span class="header">DEVELOPER SKILLS</span>
        <div class="skills">
            <div class="skills__list">
                <span class="header__tertiary">PROGRAMMING LANGUAGES</span>
                <div class="icon-list">
                    <div class="skills-icon">
                        <svg-icon 
                        src="../../assets/imgs/typescript.svg" 
                        class="svg" 
                        [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Typescript
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/javascript.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Javascript
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/css3.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            CSS
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/sass.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            SCSS
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/html5.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            HTML
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/python.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Python
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/cplusplus.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            C++
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/csharp.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            C Sharp
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/postgresql.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            SQL
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills__list">
                <span class="header__tertiary">SOFTWARE EXPERIENCE</span>
                <div class="icon-list">
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/git.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            GIT
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/bitbucket.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Bitbucket
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/jenkins.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Jenkins
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/sonarqube.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Sonarqude
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/redhatopenshift.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            OpenShift
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/artifacthub.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Artifactory
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/postman.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Postman
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/jirasoftware.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Jira
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills__list">
                <span class="header__tertiary">GENERAL SKILLS</span>
                <div class="icon-list">
                    <span class="header__text">AGILE WORKFLOW</span>
                    <span class="header__text">ACCESSIBILITY</span>
                    <span class="header__text">UI WEB DEVELOPMENT</span>
                    <span class="header__text">OBJECT ORIENTED PROGRAMMING</span>
                    <span class="header__text">RELATIONAL DATABASES</span>
                    <span class="header__text">DATA ANALYSIS</span>
                    <span class="header__text">TEAM ORIENTED PROJECT EXPERIENCE</span>
                </div>
            </div>
        </div>
    </div>
    <div class="resume-grid__education">
        <span class="header">EDUCATION</span>
            <span class="header__tertiary">
                Maryville College, Maryville, TN | GPA: 3.8
            </span>
            <span class="body-text">
                Bachelors of Arts in Computer Science/Minor in Data Analytics, Dec. 2021
            </span>
            <span class="header__tertiary">
                Honors Societies/Rewards
            </span>
            <span class="body-text">
                National Leaders Honor Society, Sep. 2017-Present
            </span>
            <span class="body-text">
                Phi Theta Kappa Honor Society, Sep. 2018-Present
            </span>
            <span class="body-text">
                Alpha Gamma Sigma Honor Society, May 2021-Present
            </span>
            <span class="body-text">
                Jerry L. Pientenpol Computer Science Award, April 2021
            </span>
    </div>
    <div class="resume-grid__employ">
        <span class="header">EMPLOYMENT</span>
        <span class="header__tertiary">
            CGI, Knoxville TN
        </span>
        <span class="body-text">
            Software Developer Consultant, Jan 2022-Present
        </span>
        <ul>
            <li class="list-text">Create and deploy angular base web components</li>
            <li class="list-text">Collaborate with full-stack development team</li>
            <li class="list-text">Ensure code base is developed with accessibility guidelines</li>
        </ul>
        <span class="header__tertiary">
            ORNL/UT ORISE Program, Knoxville TN
        </span>
        <span class="body-text">
            Undergraduate Intern, Jun. 2021-Aug, 2021
        </span>
        <ul>
            <li class="list-text">Research machine learning methods used in enocding chemical data</li>
            <li class="list-text">Analyze large simple molecule databases</li>
            <li class="list-text">Construct decoding methods of chemical information</li>
        </ul>
    </div>
</div>

