@import '../../sass/styles.scss';

.resume {
    margin-top: 13vw;
    &__skills {
        display: flex;
        flex-direction: column;
    }

}

.skills {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;

    &__list {
        @include centered-flex;
        flex-direction: column;
        max-width: 85vw;
    }
}

.icon-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-icon {
    padding: 1rem;
}

.icon-text {
    text-align: center;
}

.body-text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    font-family: 'lato',sans-serif;
    font-weight: 300;
}

.list-text {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'lato',sans-serif;
    font-weight: 300;
    list-style: none;
}