<div class="resume">
    <div class="resume__skills">
        <span class="header">DEVELOPER SKILLS</span>
        <div class="skills">
            <div class="skills__list">
                <span class="header__tertiary">PROGRAMMING LANGUAGES</span>
                <div class="icon-list">
                    <div class="skills-icon">
                        <svg-icon 
                        src="../../assets/imgs/typescript.svg" 
                        class="svg" 
                        [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Typescript
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/javascript.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Javascript
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/css3.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            CSS
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/sass.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            SCSS
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/html5.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            HTML
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/python.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Python
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/cplusplus.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            C++
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/csharp.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            C Sharp
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/postgresql.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            SQL
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills__list">
                <span class="header__tertiary">SOFTWARE EXPERIENCE</span>
                <div class="icon-list">
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/git.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            GIT
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/bitbucket.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Bitbucket
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/jenkins.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Jenkins
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/sonarqube.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Sonarqude
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/redhatopenshift.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            OpenShift
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/artifacthub.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Artifactory
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/postman.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Postman
                        </div>
                    </div>
                    <div class="skills-icon">
                        <svg-icon 
                            src="../../assets/imgs/jirasoftware.svg" 
                            class="svg" 
                            [svgStyle]="{ 'width.px':30 }">
                        </svg-icon> 
                        <div class="icon-text">
                            Jira
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills__list">
                <span class="header__tertiary">GENERAL SKILLS</span>
                <div class="icon-list">
                    <span class="header__text">AGILE WORKFLOW</span>
                    <span class="header__text">ACCESSIBILITY</span>
                    <span class="header__text">UI WEB DEVELOPMENT</span>
                    <span class="header__text">OBJECT ORIENTED PROGRAMMING</span>
                    <span class="header__text">RELATIONAL DATABASES</span>
                    <span class="header__text">DATA ANALYSIS</span>
                    <span class="header__text">TEAM ORIENTED PROJECT EXPERIENCE</span>
                </div>
            </div>
        </div>
    </div>
</div>

