<div class="container">
    <span class="header">
        DAVID ROSE-FRANKLIN
    </span>
    <span class="header__secondary">
        UI WEB DEVELOPER
    </span>
    <div class="icons">
        <a href="https://github.com/DavidRR-F" target="_blank">
            <svg-icon 
                src="../../assets/imgs/github.svg" 
                class="svg" 
                [svgStyle]="{ 'width.px':30 }">
            </svg-icon> 
        </a>
        <a href="https://www.linkedin.com/in/david-rose-franklin-5476a71b6/" target="_blank">
            <svg-icon 
                src="../../assets/imgs/linkedin.svg" 
                class="svg" 
                [svgStyle]="{ 'width.px':30 }">
            </svg-icon>
        </a>
    </div>
</div>

